@page "/groups/edit/{groupsId:int}"
@inject NavigationManager uriHelper
@inject GroupsDAL groupDAL
<h3>Güncelle</h3>

<EditForm Model="@group" OnValidSubmit="@EditGroup">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div>
            <InputText @bind-Value="@group.GroupName" />
            <ValidationMessage For="@(() => group.GroupName)" />

            <button type="submit" class="btn btn-success">
                Kaydet
            </button>
        </div>
    </div>
</EditForm>




@code {
    [Parameter] public int groupsId { get; set; }

    Groups group = new Groups();


    DateTime time = DateTime.UtcNow;

    protected async override Task OnParametersSetAsync()
    {
        group = await groupDAL.GetGroup(groupsId);
    }
    async Task EditGroup()
    {
        group.UpdatedAt = DateTime.UtcNow;
        groupDAL.PutGroups(groupsId, group);
        uriHelper.NavigateTo("groups");
    }
}