
@*<EditForm Model="@group" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <div>
            <InputText @bind-Value="@group.GroupName" />
            <ValidationMessage For="@(() => group.GroupName)" />

            <button type="submit" class="btn btn-success">
                @ButtonText
            </button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public Groups group { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    DateTime time = DateTime.UtcNow;
}*@