@*@page "/groups/edit/{groupsId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Güncelle</h3>

<GroupsForm ButtonText="Güncelle" group="group" OnValidSubmit="@EditGroup" />

@code {
    [Parameter] public int groupsId { get; set; }

    Groups group = new Groups();

    protected async override Task OnParametersSetAsync()
    {
        group = await http.GetFromJsonAsync<Groups>($"api/groups/{groupsId}");
    }
    async Task EditGroup()
    {
        group.UpdatedAt = DateTime.UtcNow;
        await http.PutAsJsonAsync($"api/groups/{groupsId}", group);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("groups");
    }
}*@