@page "/adminsettings"
@inject NavigationManager uriHelper

<table class="table">
    <thead class="thead-light">
        <tr>
            <td><h3> Ayarlar </h3></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <NavLink class="nav-link" href="groups">
                    <span class="oi oi-people" aria-hidden="true"></span>Grup Ayarları
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="events">
                    <span class="oi oi-people" aria-hidden="true"></span>Etkinlik Listesine Git
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="groups">
                    <span class="oi oi-people" aria-hidden="true"></span>Meslek Listesi
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="addpoints">
                    <span class="oi oi-people" aria-hidden="true"></span>Puan Atamasi Yap
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="adminlist">
                    <span class="oi oi-people" aria-hidden="true"></span>Yöneticileri Yönet
                </NavLink>
            </td>
        </tr>


    </tbody>
</table>