@page "/forgotpassword"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CugemderApp.Security.CustomStateProvider authStateProvider
@using CugemderApp.Shared.Models


<EditForm Model="formModel" OnValidSubmit="ForgotPasswordRequest">
    <label>E-mail:</label>
    <InputText class="form-control" @bind-Value="formModel.email" autofocus placeholder="E-mail" />

    <label class="text-danger">@error</label>

    <br />
    <button class="btn btn-dark" type="submit">Şifre Sıfırla</button>
</EditForm>


@code {

    ForgotPasswordModel formModel = new ForgotPasswordModel();
    string error { get; set; }

    async void ForgotPasswordRequest()
    {
        try
        {
            await authStateProvider.ForgotPassword(formModel);
            navigationManager.NavigateTo("login");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }


}