@page "/adminsettings"
@inject NavigationManager uriHelper

<table class="table">
    <thead class="thead-light">
        <tr>
            <td><h3> Ayarlar </h3></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <NavLink class="nav-link" href="groups">
                    <span class="oi oi-people" aria-hidden="true"></span> &emsp; Grup Ayarları
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="jobtitles">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> &emsp; Meslek Listesi
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="adminjobreferencelist">
                    <span class="oi oi-signpost" aria-hidden="true"></span> &emsp; İş Kişi Yönlendirme Listesi
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="networkmeetinguserlist">
                    <span class="oi oi-circle-check" aria-hidden="true"></span> &emsp; Network Toplantı Puanı Ver
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="networkactivityuserlist">
                    <span class="oi oi-task" aria-hidden="true"></span> &emsp; Network Faaliyet Puanı Ver
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="adminaccessuserlist">
                    <span class="oi oi-person" aria-hidden="true"></span> &emsp; Kullanıcıları Yönet
                </NavLink>
            </td>
        </tr>
        <tr>
            <td>
                <NavLink class="nav-link" href="adminlist">
                    <span class="oi oi-cog" aria-hidden="true"></span> &emsp; Yöneticileri Yönet
                </NavLink>
            </td>
        </tr>


    </tbody>
</table>