@page "/createMeeting/{id}"
@inject AspNetUsersDAL userDAL
@inject MeetingsDAL meetingDAL
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager  uriHelper


<h3>Görüşme Detaylarını Giriniz</h3>

<div class="simple-form">
    <EditForm Model="meeting" OnValidSubmit="@SubmitForm">
        <DataAnnotationsValidator />

        <div class="form-group">
            <label>Lokasyon</label>
            <InputText @bind-Value="meeting.Location" class="form-control" placeholder="Adres Giriniz" />
            <ValidationMessage For="@(() => meeting.Location)" />
        </div>
        <div class="form-group">
            <label>Tarih</label>-->
            <InputDateTime @bind-Value="meeting.Date" />
            <ValidationMessage For="@(() => meeting.Date)" />
        </div>



        <button type="submit" class="btn btn-primary">Görüşme Ayarla</button>
        <button @onclick="Cancel" class="btn btn-secondary">Vazgeç</button>
    </EditForm>
</div>

@code {


        [Parameter] public string id { get; set; }

        int totalPoints;
        Meetings meeting = new Meetings() { Date = DateTime.Today};


    private AspNetUsers loggedUser;
    private string _userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            loggedUser = await userDAL.GetUsername(user.Identity.Name);
        }
    }



    void SubmitForm()
    {
        meeting.ReceiverId = id;
        meeting.SenderId = loggedUser.Id;
        meeting.IsApproved = false;
        meeting.IsResultedbyReceiver = false;
        meeting.IsResultedbySender = false;
        meetingDAL.PostMeetings(meeting);
        uriHelper.NavigateTo($"profile/{id}");
    }

    void Cancel()
    {
        uriHelper.NavigateTo($"profile/{id}");
    }

}