@inject AspNetUsersDAL userDAL
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BeePort</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Ana Sayfa
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="userlist">
                <span class="oi oi-people" aria-hidden="true"></span> Üye Listesi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="events">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Etkinlikler
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="meetingRequests">
                <span class="oi oi-task" aria-hidden="true"></span> Görüşme Talepleri
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="documents">
                <span class="oi oi-file" aria-hidden="true"></span> Dökümanlar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="setting">
                <span class="oi oi-wrench" aria-hidden="true"></span> Kullanıcı Ayarları
            </NavLink>
        </li>
        @if (loggedUser != null && loggedUser.IsAdmin.GetValueOrDefault())
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="waitinglist">
                    <span class="oi oi-timer" aria-hidden="true"></span> Onay Listesi
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="adminsettings">
                    <span class="oi oi-command" aria-hidden="true"></span> Yönetici Ayarları
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private AspNetUsers loggedUser;
    private string _userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            loggedUser = await userDAL.GetUsername(user.Identity.Name);
        }
    }
}
